ul.sorting
{
   
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
	margin-top:10px;
}

ul.sorting li
{
    margin: 0;
    padding: 0;
    float: left;
    display: inline-block;
}

ul.sorting li a, h2 span
{
 background-color: #d3d3d3;
background-image: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#d3d3d3));
background-image: -webkit-linear-gradient(top, #e9e9e9, #d3d3d3);
background-image: -moz-linear-gradient(top, #e9e9e9, #d3d3d3);
background-image: -ms-linear-gradient(top, #e9e9e9, #d3d3d3);
background-image: -o-linear-gradient(top, #e9e9e9, #d3d3d3);
background-image: linear-gradient(top, #e9e9e9, #d3d3d3);
border: 1px solid #bcbcbc;
border-bottom: 1px solid #a8a8a8;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 1px 0 0 #f6f5f5;
-moz-box-shadow: inset 0 1px 0 0 #f6f5f5;
-ms-box-shadow: inset 0 1px 0 0 #f6f5f5;
-o-box-shadow: inset 0 1px 0 0 #f6f5f5;
box-shadow: inset 0 1px 0 0 #f6f5f5;
color: #404040;
line-height: 1;
padding: 4px 7px;
text-align: center;
margin-right:5px;
}

ul.sorting li a.active, ul.sorting li a:hover, h2 span
{
   
  background-color: #e2e2e2;
background-image: -webkit-gradient(linear, left top, left bottom, from(#dcdbdb), to(#c8c8c8));
background-image: -webkit-linear-gradient(top, #dcdbdb, #c8c8c8);
background-image: -moz-linear-gradient(top, #dcdbdb, #c8c8c8);
background-image: -ms-linear-gradient(top, #dcdbdb, #c8c8c8);
background-image: -o-linear-gradient(top, #dcdbdb, #c8c8c8);
background-image: linear-gradient(top, #dcdbdb, #c8c8c8);
-webkit-box-shadow: inset 0 1px 0 0 #e8e7e7;
-moz-box-shadow: inset 0 1px 0 0 #e8e7e7;
-ms-box-shadow: inset 0 1px 0 0 #e8e7e7;
-o-box-shadow: inset 0 1px 0 0 #e8e7e7;
box-shadow: inset 0 1px 0 0 #e8e7e7;
cursor: pointer;

}

h2 span
{
    display: inline-block;
    font-size: 9px;
    font-weight: bold;
    padding: 1px 7px 3px 7px;
    line-height: 1.5;
    color: #A2A2A2;
}