.fancy-radio
{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../img/fancy-button/radio_off.png');
    cursor:pointer;
}
.fancy-radio.on
{
    background-image: url('../../img/fancy-button/radio_on.png');
}

.fancy-checkbox
{
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../img/fancy-button/chekbox_off.png');
    cursor:pointer;
}
.fancy-checkbox.on
{
    background-image: url('../../img/fancy-button/chekbox_on.png');
}
